/* Global Styles */

body{
    margin:0;
    font-family: "Roboto", sans-serif;
}


/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    background-color: rgba(253,170,180,255);
}

.header a {
    text-decoration: none;
    color: white;
}

.LeftContainer {
    display: flex;
    align-items: center;
}

.logo {
    height: 52px;
    width: auto; /* Maintain aspect ratio */
}

.RightContainer {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    gap: 20px;
}

.separator {
    width: 1.5em;
    height: auto;
}

/* Layer1 */
.layer1{
  background-image: linear-gradient(
    -45deg, #d14172 25%, #fff3d9 25%,
    #fff3d9 50%, #d14172 50%,
    #d14172 75%, #fff3d9 75%
  );

  padding: 40px;
}


.layer1-container{
    display: flex;
    justify-content: center;
    align-items: center;

    /* This make the element centered, especially when zoom out on browser */
    max-width: 1200px;
    margin: 0 auto;

    background-color: rgba(255, 255, 255, 0.65);
    color: #ffffff;

    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.layer1-container p{
    color:  #ffffff;
    line-height: 1.6;
    font-style: italic;
    font-weight: bold;
    max-width: 500px;
    -webkit-text-stroke: 3px #b84776;
    paint-order: stroke fill ;
}

.layer1-container h1{
    font-size: 54px;
    -webkit-text-stroke: 5px #b84776;
    paint-order: stroke fill ;
    
}

.layer1Right img {
    width: 512px;
    height: auto;
    max-width: 512px;
}


.btn {
    color: #ff5ea2;
    padding: 8px;
    width: 150px;
    background: linear-gradient(145deg,#ffd1ec, #ffe6f5);

    border-radius: 16px;
    font-weight: bold;
    font-size: 1.125em;
    border-color: #ce446d;


    transition: all 0.25s cubic-bezier(0.03, 0.59, 0.3, 1);;
}

.btn:hover{
    color: white;
    background: rgba(253,170,180,255);
    box-shadow: 0 0px 2px 0 #f8a1c4, 0 1px 2px 0 #f8a1c4;
    transform: scale(1.25);
    border: 3px solid white;
}


/* Layer 2 */
.layer2{
    background-color: pink;
    padding: 4rem 0;
}
.layer2-wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.layer2 h1{
    text-align: center;
    color:  #ffffff;
    font-style: italic;
    font-weight: bold;
    -webkit-text-stroke: 3px #b84776;
    paint-order: stroke fill ;

    white-space: pre-line;
}

.cards-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
}

.card {
    max-width: 200px;
}


.card img{
    width: 200px;
    height: 200px;
    max-width: 200px;
    border-radius: 16px;
    border: 10px double #ff5ea2;
    box-shadow: 0 10px 30px black;
    transition: 0.3s;
    margin: -0.5em -1em -1em -1em;

    mask: linear-gradient(-60deg, #000 50%, #0005, #000 70%) right/500% 100%;
    animation: shimmer 3s infinite;
}


@keyframes shimmer {
  100% {
    mask-position: left
  }
}

.card:hover img {
    transform: translateY(-20px);
}


.card p{
    text-align: center;
    color:  #ffffff;
    line-height: 1.6;
    font-weight: bold;
    max-width: 500px;
    -webkit-text-stroke: 3px #b84776;
    paint-order: stroke fill ;

}



/* Layer 3 */
.layer3{
    background-color: #E5E7EB;
    background: radial-gradient(circle at top, #ffe6f2, #ffd6eb, #fff0f6);
}

.layer3-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    white-space: pre-line;

    background: linear-gradient(#ffe6f2, #fff) padding-box, linear-gradient(-90deg,#ff99cc, #ffcce6) border-box ;
    border-radius:20px;
    padding: 0 2rem;
    margin: 2rem auto;
    box-shadow: 14px 14px  rgba(253,170,180,255);
}

.quote .chibi {
    height: auto;
    float: right;
    width: 200px;
    max-width: 200px;
}

.stamp {
    height: auto;
    float: left;
    width: 100px;
    transform: rotate(-5deg);
    max-width: 100px;
}


.author {
    border-top: 1px solid pink;
    margin-top:20px;
    padding-top:10px;
    text-align: right;
    font-size: 20px;
    font-style: italic;
    padding-right: 5px;
    font-weight: bold;
    color:#b30059;
}

/* Layer 4 */
.layer4{
    padding: 90px 0;
}

.layer4-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    background-color: #3882F6;
    border-radius: 8px;
}

.cta{
    color: #F9FAF8;
}

.cta h1 {
    font-weight: 900;
}


.SignUpBtn{
    padding: 6px 28px;
    background-color: transparent;
    border-radius: 16px;
    border: 2px solid white;

    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;

}

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 24px;
}