/* Global Styles */

body{
    margin:0;
    font-family: "Roboto", sans-serif;
}

.btn {
    color: white;
    padding: 8px;
    width: 150px;
    background-color: #3882F6;
    border-radius: 8px;
    font-weight: 900;
    font-size: 1.125em;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    background-color: rgba(253,170,180,255);
}

.header a {
    text-decoration: none;
    color: white;
}

.LeftContainer {
    display: flex;
    align-items: center;
}

.logo {
    height: 52px;
    width: auto; /* Maintain aspect ratio */
}

.RightContainer {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    gap: 20px;
}

.separator {
    width: 1.5em;
    height: auto;
}

/* Layer1 */
.layer1-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 260px;
    gap: 36px;
}

/* Layer 2 */
.layer2{
    background-color: pink;
    padding: 4rem 0;
}
.layer2-wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.layer2 h1{
    text-align: center;
}
.cards-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
}

.card {
    max-width: 200px;
}

.card img{
    width: 200px;
    height: 200px;
}